<header class="p-4 bg-secondary">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-around">
            <h3><a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <i class='fas fa-seedling mx-4 fa-1x'> </i>  Tasty Food Recipes 
            </a></h3>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <% if user_signed_in? %>     
                    <li><%= link_to "Foods", user_foods_path(current_user.id), class:"nav-link px-2 text-white"%></li>
                <% end %>
            </ul>
            <% if user_signed_in? %>
                <div class="text-end">
                    <%= button_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo: false }, class:"btn btn-light" %>
                </div>  
            <% else %>
                <div class="text-end">
                    <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-salmon" %>
                    <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-light me-2"%>
                </div>
            <% end %>
        </div>
    </div>
  </header>