<div class='container'>
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h2 class="d-flex justify-content-center text-primary">List of Recipes</h2>
            <h3 class="d-flex justify-content-end"><%= link_to "Add Recipe", new_user_recipe_path(current_user.id), class: " btn btn-primary" %></h3>
        </div>
 
          <div class="recipe-container row p-4">
            <% @recipes.each_with_index do |recipe, index| %>
            <div class="recipe-item m-2 d-flex justify-content-start">
              <div class="col-md-3 p-2 my-2">
                <h3><%= link_to recipe.name, recipe_path(recipe.id) %></h3>
                  <% if can? :manage, recipe %>
                  <%= button_to "Remove", user_recipe_path(recipe.user_id, recipe.id), data: {turbo:false}, method: :delete, class: 'btn btn-danger btn-sm mt-4'%>
                  <% end %>
              </div>
              <div class="col-md-8 p-2 my-2">
                <p><%= recipe.description %></p>
              </div>
            </div>
            <% end %>
          </div>
    </div>
</div>